.dropdownText {
    @apply flex flex-col items-start;
    @apply gap-2 p-3;
    @apply w-36;
    background: #f8fafc;
    border-radius: 4px;

    flex: none;
}

.dropdownOptionsContainer {
    @apply flex flex-col items-start;
    @apply gap-2 p-3;
    @apply w-36;
    background: #f8fafc;
    border-radius: 4px;

    flex: none;
}

.dropdownOption {
    @apply flex flex-row items-center justify-start;
    @apply gap-2;
    @apply w-full;
    @apply cursor-pointer;
}
