:root {
    --color-default-gray: #4B5563;
    --color-light-gray: #5B6778;
    --color-light-blue: #3287FD;
    --color-dark-blue: #245AAC;
    --color-yellow: #FFDD29;
    --color-white: #fff;
    --color-black: #000;

}